body {
    padding: 0;
    margin: 0;
    font-family: 'Anton', sans-serif;
    color: black;
    font-size: 16px;
}

* {
    box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6 {
    padding: 0;
    margin: 0;
    text-transform: uppercase;
    font-weight: normal;
}

h2 {
    font-size: 50px;
    margin-bottom: 58px;
}

h3 {
    font-size: 25px;
}

p {
    margin: 0;
    font-weight: normal;
    font-size: 15px;
}

a {
    text-decoration: none;
}

ul, li {
    display: block;
    padding: 0;
    margin: 0;
}

section {
    padding-top: 113px;

    .gallery {
        margin-top: 67px;
        display: flex;
        justify-content: space-between;
        overflow: hidden;

        img {
            height: 410px;
            -moz-transition: all 1s ease-out;
            -o-transition: all 1s ease-out;
            -webkit-transition: all 1s ease-out;

            &:hover {
                -webkit-transform: scale(1.1);
                -moz-transform: scale(1.1);
                -o-transform: scale(1.1);
            }
        }
    }
}

.container {
    width: 1170px;
    /*позиционирование по центру*/
    margin: 0 auto; 

    .nav {
        display: flex;
        align-items: center;
        
    }
    .offer {
        text-transform: uppercase;
        margin-top: 100px;

        p {
            font-size: 30px;
            letter-spacing: 0.1em;
        }
        h1 {
            font-size: 100px;
            margin-bottom: 19px;
            margin-top: -9px;
            letter-spacing: 0.02em;
        }
        .btn {
            display: block;
            font-size: 17px;
            text-align: center;
            letter-spacing: 0.1em;
            padding: 17px 47px;
            border: 1px solid #fff;
            width: 238px;

            transition: all 0.5s ease;

            &:hover {
                background: #fff;
                color: #000;
            }
        }
    }
    .description {
        display: flex;
        justify-content: space-between;

        .desc-left,
        .desc-right {
            width: 567px;
        }

        p {
            font-family: 'Open Sans';
            font-weight: 400;
            text-align: justify;
            line-height: 1.62em;
        }
    }

    .footer-text {
        font-size: 15px;
        font-family: 'Open Sans', sans-serif;
        display: flex;
        text-transform: none;
        padding: 114px 0;

        p {
            margin-right: 67px;
        }
    }
}

.header {
    background: url('../img/backgound-header.png') no-repeat center top / cover;
    padding-top: 57px;
    color: #fff;
    padding-bottom: 322px;

    a {
        margin-right: 40px;
        color: #fff;

        &.tel {
            font-size: 17px;
            margin-left: auto;
            letter-spacing: 0.1em;
        }
    }

    img {
        height: 90px;

        &.logo {
            margin-right: 69px;
        }
    }

    .menu {
        display: flex;

        li {
            transition: 0.3s all;

            &:hover {
                opacity: 0.7;
            }

            a {
                text-transform: uppercase;
                font-size: 14px;
                letter-spacing: 0.1em;
                font-weight: normal;
            }
        }
    }

}